/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* common styles */
.container{
    background-color: #ffff;
    margin-top: 21px;
    border-radius: 5px;
    
    
}
.top-players{
   
    width: 870px;
    padding-top: 30px;
    padding-left: 30px;
    
    margin-bottom: 30px;

}
.color{
    color: blue;
    margin-top: 3px;
    padding-left: 30px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
/* top players style  */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-row-gap:30px ;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
}
.player-name{
    font-size: 18px;

    margin-left: 16px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
 
}

/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumnail img{
    height: 177px;
    width: 177px;
    padding-left:30px ;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;

}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
}
/* courses style  */
.course .course-banner img{
    width: 224px;
    height: 104px;
}
#title-3{
    padding-top: 23px;
    padding-left: 30px;
    color: blue;
    
}
.fa-star.filled{

    color: #FFC014;
    Width: 12.25px;
 Height: 11.75px;
 padding: 3.24px;
}
.fa-star.empty{

    color: #AEAEAE;
    Width: 12.39px;
Height: 11.81px;
padding: 3.24px;
}